@model SalonKosmetyczny.Models.DbModels.Pracownik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImiePracownika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImiePracownika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwiskoPracownika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwiskoPracownika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PracownikId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
