@model SalonKosmetyczny.Models.DbModels.Klient

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImieKlienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImieKlienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwiskoKlienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwiskoKlienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.KlientId }) |
    @Html.ActionLink("Powrót do listy klientów", "Index")
</p>
